# Configuration Backend
PORT=3000
NODE_ENV=development

# MongoDB Atlas (Cloud Database)
MONGODB_URI=mongodb+srv://armel:alayi2026@cluster0.aqphibe.mongodb.net/alayi?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret pour l'authentification
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Frontend URL (pour CORS)
FRONTEND_URL=http://localhost:5173
